<?xml version="1.0"?>

<model>
  <name>hokuyo_ros</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  
  <author>
    <name>Gianluca Bardaro</name>
    <email>gianluca.bardaro@polimi.it</email>
  </author>

  <description>
    Hokuyo model with ROS communication
  </description>
</model>
