<?xml version="2.0"?>
<model>
  <name>pallet_jack</name>
  <version>1.0</version>
  <sdf version='2.0'>pallet_jack.sdf</sdf>

  <author>
    <name>Giacomo Colombo</name>
    <email>giacomo4.colombo@mail.polimi.it</email>
  </author>

  <description>
    A robot that works as a pallet jack
  </description>
</model>
